{{#if @post}}
  <button
    class="topic-viewers-btn"
    type="button"
    data-topic-id={{@post.topic_id}}
    data-post-number={{@post.post_number}}
    style="margin-left: 8px;"
  >
    Viewers
  </button>
{{/if}}


