{{#if @outletArgs.topic}}
  <button
    class="topic-viewers-btn"
    type="button"
    data-topic-id="{{@outletArgs.topic.id}}"
    data-post-number="{{@outletArgs.post.post_number}}"
    title="See who read this post"
  >
    Viewers
  </button>
{{/if}}
